/* Estilos generales para la barra superior */
header { 
    width: 100vw;
    display: flex;
}
.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo */
  .logo img {
    height: 40px;
  }
  
  /* Contenedor de la barra de búsqueda */
  .search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
  
  /* Input de búsqueda */
  .search-input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .search-input:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  
  /* Botón de login */
  .login-button button {
    padding: 10px 20px;
    font-size: 16px;
    color: #007BFF;
    background-color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .login-button button:hover {
    background-color: #f0f0f0;
    color: #0056b3;
  }
  
  